-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container-fluid
  .row
    -# ----------------------------
    -# sidebar
    -# ----------------------------
    = render 'layouts/side_bar'
    %div.col-8{ style: 'margin-left: 30px;'}
      %h2 【変動費集計レポート】
      - if @variableCost.present?
        %p 期間を選択してください。
        %button.btn.btn-warning.year-btn 年間レポート
        %button.btn.btn-warning.monthly-btn 月間レポート
        %button.btn.btn-warning.weekly-btn 週間レポート
        .chart-container.col-12
          %canvas#yearChart{ style: 'display: none; position: relative; width:100vw; height:50vh' }
        .chart-container.col-12
          %canvas#monthlyChart{ style: 'display: none; position: relative; width:100vw; height:50vh' }
        .chart-container.col-12
          %canvas#weeklyChart{ style: 'display: none; position: relative; width:100vw; height:50vh' }
      - else
        %p 変動費が登録されていません。

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'

:javascript
  $('.year-btn').click(function(){
    $('#yearChart').css('display', '');
    $('#monthlyChart').css('display', 'none');
    $('#weeklyChart').css('display', 'none');
    var ctx = document.getElementById("yearChart").getContext('2d');
  
    var original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: (gon.year),
        datasets: [{
          label: '変動費の年間レポート(1単位/1万円)',
          backgroundColor: "rgb(255,228,181)",
          data: [(gon.money_year_3), (gon.money_year_2), (gon.money_year_1)],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        },
        maintainAspectRatio: false,
      }
    });
  });

  $('.monthly-btn').click(function(){
    $('#yearChart').css('display', 'none');
    $('#monthlyChart').css('display', '');
    $('#weeklyChart').css('display', 'none');
    var ctx = document.getElementById("monthlyChart").getContext('2d');
  
    var original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: (gon.month),
        datasets: [{
          label: '変動費の月間レポート(1単位/1万円)',
          backgroundColor: "rgb(255,228,181)",
          data: [(gon.money_month_1), (gon.money_month_2), (gon.money_month_3), (gon.money_month_4), (gon.money_month_5), (gon.money_month_6), (gon.money_month_7), (gon.money_month_8), (gon.money_month_9), (gon.money_month_10), (gon.money_month_11), (gon.money_month_12)],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        },
        maintainAspectRatio: false,
      }
    });
  });

  $('.weekly-btn').click(function(){
    $('#yearChart').css('display', 'none');
    $('#monthlyChart').css('display', 'none');
    $('#weeklyChart').css('display', '');
    var ctx = document.getElementById("weeklyChart").getContext('2d');
  
    var original = Chart.defaults.global.legend.onClick;
    Chart.defaults.global.legend.onClick = function(e, legendItem) {
      update_caption(legendItem);
      original.call(this, e, legendItem);
    };
    
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: (gon.week),
        datasets: [{
          label: '変動費の週間レポート(1単位/1万円)',
          backgroundColor: "rgb(255,228,181)",
          data: [(gon.money_month_7), (gon.money_6), (gon.money_5), (gon.money_4), (gon.money_3), (gon.money_2), (gon.money_1)],
        }]
      },
      options: {
        title: {
          display: true,
          padding:3,
          fontSize: 26
        },
        scales: {
          xAxes: [{
            stacked: true,
            categoryPercentage:0.8
          }],
          yAxes: [{
            stacked: true,
            ticks: {
              stepSize: 2
            }
          }]
        },
        legend: {
          labels: {
            boxWidth: 12,
            padding: 20
          },
          display: true
        },
        tooltips:{
          mode:'label'
        },
        maintainAspectRatio: false,
      }
    });
  });