.container
  .row
    %h2 収入について
    - if @income.present?
      .col-12
        %table.table.table-striped.table-bordered
          %thead
            %tr
              %th 日付
              %th 商品名
              %th 説明
              %th 金額
              %th 合計
              -# %th
              -# %th
          %tbody
            - @income.each do |income|
              %tr
                %th= income.created_at.strftime('%Y/%m/%d %H:%M')
                %th= income.name
                %th= income.content
                %th 金額が入る
                %th ?
                -# %td
                -#   = link_to "編集", edit_income_path
                -# %td
                -#   = link_to "/posts/#{income.id}/destroy", {method: "income"} do
                -#     %button 削除
    - else
      %a 登録されている収入はありません。