-# ----------------------------
-# header
-# ----------------------------
= render 'layouts/header'

.container-fluid
  .row
    -# ----------------------------
    -# sidebar
    -# ----------------------------
    = render 'layouts/side_bar'

    %div.col-8{ style: 'margin-left: 30px;'}
      %h2 お問い合わせありがとうございました。

-# ----------------------------
-# footer
-# ----------------------------
= render 'layouts/footer'
