%nav.navbar.navbar-expand-lg.navbar-light.sticky-top.header
  %h2 Money Hub
  %i.fa.fa-search-dollar.header-icon
  %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse