%nav.col-md-2.sidebar.d-none.d-md-block.bg-light
  .sidebar-stickey
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.btn.btn-warning.side-btn
          = link_to 'Home', root_path, class: 'nav-link'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.btn.btn-warning.side-btn
          = link_to '収入', incomes_path, class: 'nav-link'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.btn.btn-warning.side-btn
          = link_to '変動費', variable_costs_path, class: 'nav-link'
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %button.btn.btn-warning.side-btn
          = link_to '固定費', fixed_costs_path, class: 'nav-link'
    -# %ul.nav.flex-colum.nav.nav-sidebar
    -#   %li.nav-item
    -#     %a
    -#       = link_to 'レポート', fixed_costs_path, class: 'nav-link'
    -# %ul.nav.flex-colum.nav.nav-sidebar
    -#   %li.nav-item
    -#     %a
    -#       = link_to 'カレンダー', fixed_costs_path, class: 'nav-link'