%nav.col-md-2.sidebar.d-none.d-md-block.bg-light
  .sidebar-stickey
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    %ul.nav.flex-colum.nav.nav-sidebar
      %li.nav-item
        %a.nav-link Sidebar
    